{% extends "base.html" %}

{% block content %}
<h1 class="subtitle">Change password</h1>
{% if error %}
<div class="notification is-warning">
    {{error}}
</div>
{% endif %}
<form method="POST">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div class="form">
        <div class="field">
        <p class="control">
            <input class="input" type="password" name="oldpassword" placeholder="Old password">
        </p>
        </div>
        <div class="field">
        <p class="control">
            <input class="input" type="password" name="password1" placeholder="New password">
        </p>
        </div>
        <div class="field">
        <p class="control">
            <input class="input" type="password" name="password2" placeholder="Repeat new password">
        </p>
        </div>
        <div class="field">
        <p class="control">
            <button class="button is-success" type="submit">
            Change password
            </button>
        </p>
        </div>
    </div>
</form>
{% endblock %}