{% extends "base.html" %}

{% block content %}
<h1 class="subtitle">Login</h1>
{% if error %}
<div class="notification is-warning">
    {{error}}
</div>
{% endif %}

<form method="POST">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <div class="form">
        <div class="field">
        <p class="control">
            <input class="input" type="email" name="email" placeholder="Email">
        </p>
        </div>
        <div class="field">
        <p class="control">
            <input class="input" type="password" name="password" placeholder="Password">
        </p>
        </div>
        <div class="field">
        <p class="control">
            <button class="button is-success" type="submit">
            Login
            </button>
        </p>
        </div>
    </div>
</form>
{% endblock %}