{% extends "base.html" %}

{% block content %}
<h1 class="title">Note {{note.uuid}}:</h1>
<h2 class="subtitle">Created by {{note.email}}</h2>
<p class="content">
{{note.content}}
</p>
<hr>
<p>
{% if note.public %}
This note is public.
{% else %}
This note is private.
{% endif %}
</p>
{% if is_owner %}
 <h2 class="subtitle">Owner menu:</h2>
    <table class="table is-hoverable">
      <thead>
        <tr>
          <th>User with access</th>
          <th>Revoke</th>
        </tr>
      </thead>
      <tbody>
    {% for user in shared %}
        <tr>
          <td>{{ user.email }}</td>
          <form action="{{ url_for('note_permissions', note_uuid=note.uuid )}}" method="POST">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <input type="hidden" name="action" value="del">
            <input type="hidden" name="user" value="{{user.email}}">
          <td><button class="btn">X</button></td>
          </form>
          
        </tr>
        
    {% endfor %}
      </tbody>
    </table>
    <p>Add user:
                  <form action="{{ url_for('note_permissions', note_uuid=note.uuid )}}" method="POST">
                  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <input type="hidden" name="action" value="add">
            <input type="email" name="user">
          <button class="btn">+</button>
          </form>
    </p>
{% endif %}
{% endblock %}