{% extends "base.html" %}

{% block content %}
<h1 class="subtitle">Register</h1>
{% if error %}
<div class="notification is-warning">
    {{error}}
</div>
{% endif %}
<div class="content">
        <p>A password is considered strong if:</p>
        <ul>
        <li>8 characters length or more</li>
        <li>1 digit or more</li>
        <li>1 symbol or more</li>
        <li>1 uppercase letter or more</li>
        <li>1 lowercase letter or more</li>
        <li>Password entropy > 60</li>
        </ul>
</div>
<form method="POST">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div class="form">
        <div class="field">
        <p class="control">
            <input class="input" type="email" name="email" placeholder="Email">
        </p>
        </div>
        <div class="field">
        <p class="control">
            <input class="input" type="password" name="password1" placeholder="Password">
        </p>
        </div>
        <div class="field">
        <p class="control">
            <input class="input" type="password" name="password2" placeholder="Repeat your password">
        </p>
        </div>
        <div class="field">
        <p class="control">
            <button class="button is-success" type="submit">
            Register
            </button>
        </p>
        </div>
    </div>
</form>
{% endblock %}